body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

p.statement {
  display: flex;
  min-height: 200px;
  overflow: hidden;
  border-style: double;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: black;
}

button {
  margin: 0 10px;
}

.cta {
  text-align: left;
}