body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.statement {
  display: flex;
  min-height: 300px;
  overflow: hidden;
  border-style: double;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: white;
  background-color: black;
  opacity: 99%;
  margin-top: 0px;
}

button {
  margin: 0 10px;
}

.cta {
  text-align: left;
  width: 100%;
  justify-content: center;
}